In [ ]:
import pandas as pd

file = pd.read_csv('/content/sample_data/data_jobs.csv')

In [ ]:
file

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,NaN,NaN,NaN,Boehringer Ingelheim,NaN,NaN
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee MÃ©xico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,NaN,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,NaN,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,NaN,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,NaN,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,NaN,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,NaN,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,NaN,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,NaN,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,NaN,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [ ]:
pd.to_datetime(file['job_posted_date'])

0        2023-06-16 13:44:15
1        2023-01-14 13:18:07
2        2023-10-10 13:14:55
3        2023-07-04 13:01:41
4        2023-08-07 14:29:36
                 ...
785736   2023-03-13 06:16:16
785737   2023-03-12 06:18:18
785738   2023-03-12 06:32:36
785739   2023-03-12 06:32:15
785740   2023-03-13 06:16:31
Name: job_posted_date, Length: 785741, dtype: datetime64[ns]

In [ ]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22003 entries, 108883 to 327439
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        22003 non-null  object
 1   job_title              22003 non-null  object
 2   job_location           21723 non-null  object
 3   job_via                22003 non-null  object
 4   job_schedule_type      21987 non-null  object
 5   job_work_from_home     22003 non-null  bool
 6   search_location        22003 non-null  object
 7   job_posted_date        22003 non-null  datetime64[ns]
 8   job_no_degree_mention  22003 non-null  bool
 9   job_country            22003 non-null  object
 10  salary_rate            22003 non-null  object
 11  salary_year_avg        22003 non-null  float64
 12  company_name           22003 non-null  object
 13  job_skills             20170 non-null  object
 14  job_type_skills        20170 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(1), object(11)
memory usage: 2.4+ MB

In [ ]:
file['job_posted_date'] = pd.to_datetime(file['job_posted_date'])

In [ ]:
file['job_posted_month'] = file.job_posted_date.dt.month

In [ ]:
file.sort_values('job_posted_date', inplace = True)

In [ ]:
file.drop('job_posted_month', axis=1, inplace = True)
file.drop('salary_hour_avg', axis=1, inplace = True)
file.drop('job_health_insurance', axis=1, inplace = True)

In [ ]:
file.dropna(subset='salary_year_avg', axis=0, inplace= True)

In [ ]:
file.describe().round(0)

In [ ]:
min_sal = file.salary_year_avg.idxmin()
file.loc[min_sal]

In [ ]:
file.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_country,salary_rate,salary_year_avg,company_name,job_skills,job_type_skills
108883,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,United States,year,110000.0,PlanetArt,"['python', 'sql', 'tableau', 'excel']","{'analyst_tools': ['tableau', 'excel'], 'progr..."
334082,Data Engineer,Data Engineer,Argentina,via EchoJobs,Full-time,False,Argentina,2023-01-01 00:06:13,True,Argentina,year,65000.0,Spiff,"['python', 'mysql', 'aws', 'azure']","{'cloud': ['aws', 'azure'], 'databases': ['mys..."
365786,Business Analyst,Hospitality Operations Analyst,Anywhere,via Goodwin Recruiting | Job Board,Full-time,True,Georgia,2023-01-01 00:17:55,False,United States,year,90000.0,Goodwin Recruiting,"['sql', 'excel', 'powerpoint', 'outlook']","{'analyst_tools': ['excel', 'powerpoint', 'out..."
366073,Data Analyst,Data Analytics Professional,"Atlanta, GA",via CareerBuilder,Full-time,False,Georgia,2023-01-01 00:17:58,False,United States,year,55000.0,Cogent Infotech.,"['sql', 'python', 'numpy', 'pandas', 'seaborn'...","{'analyst_tools': ['excel', 'alteryx', 'tablea..."
108099,Data Scientist,Lead Data Scientist (Hybrid),"Burnsville, MN",via Recruit.net,Full-time,False,"Illinois, United States",2023-01-01 00:21:09,False,United States,year,120531.0,Apple Valley,"['java', 'sql', 'sql server', 'spring']","{'databases': ['sql server'], 'libraries': ['s..."

In [ ]:
file.groupby('job_title_short')['salary_year_avg'].median()

job_title_short
Business Analyst              85000.0
Cloud Engineer                90000.0
Data Analyst                  90000.0
Data Engineer                125000.0
Data Scientist               127500.0
Machine Learning Engineer    106415.0
Senior Data Analyst          111175.0
Senior Data Engineer         147500.0
Senior Data Scientist        155500.0
Software Engineer             99150.0
Name: salary_year_avg, dtype: float64

In [ ]:
file.groupby('job_title_short')['search_location'].count()

job_title_short
Business Analyst              610
Cloud Engineer                 65
Data Analyst                 5451
Data Engineer                4500
Data Scientist               5922
Machine Learning Engineer     576
Senior Data Analyst          1131
Senior Data Engineer         1591
Senior Data Scientist        1690
Software Engineer             467
Name: search_location, dtype: int64

In [ ]:
file.job_country.isin(['Canada']).value_counts()

job_country
False    21540
True       463
Name: count, dtype: int64

In [ ]:
canada_list = file[file['job_country'] == 'Canada']
canada_list

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_country,salary_rate,salary_year_avg,company_name,job_skills,job_type_skills
373748,Data Scientist,Data Scientist,"Montreal, QC, Canada",via Ladders,Full-time,False,Canada,2023-01-04 03:49:19,False,Canada,year,90000.0,Local Logic,"['python', 'r']","{'programming': ['python', 'r']}"
87792,Senior Data Engineer,Senior Data Engineer,"Vancouver, BC, Canada",via Ai-Jobs.net,Full-time,False,Canada,2023-01-05 00:41:20,False,Canada,year,147500.0,Dialpad,"['python', 'java', 'scala', 'gcp', 'aws', 'azu...","{'cloud': ['gcp', 'aws', 'azure', 'bigquery', ..."
254212,Data Engineer,AWS Data and Analytics Engineer - Remote / Tel...,"Toronto, ON, Canada",via Ladders,Full-time,False,Canada,2023-01-06 07:33:28,True,Canada,year,90000.0,CYNET SYSTEMS,['aws'],{'cloud': ['aws']}
779492,Data Scientist,Data Developer II,"Toronto, ON, Canada",via Ladders,Full-time,False,Canada,2023-01-07 05:33:26,False,Canada,year,90000.0,TouchBistro,"['sql', 'python', 'javascript', 'java', 'c#', ...","{'cloud': ['aws', 'redshift'], 'programming': ..."
259682,Data Engineer,Azure Data Engineer,"Kanata, ON, Canada",via Ladders,Full-time,False,Canada,2023-01-07 07:12:49,True,Canada,year,90000.0,Enterprise Solutions Inc,"['scala', 'sql', 'python', 'java', 't-sql', 's...","{'analyst_tools': ['excel'], 'cloud': ['azure'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660270,Data Scientist,Data Scientist,Anywhere,via LinkedIn,Contractor,True,Canada,2023-12-22 10:20:21,False,Canada,year,95000.0,Hanalytica,['sql'],{'programming': ['sql']}
142010,Data Analyst,Analytics Lab Architect,Canada,via Ladders,Full-time,False,Canada,2023-12-24 08:20:10,True,Canada,year,101014.0,Swiss Re,"['azure', 'databricks']","{'cloud': ['azure', 'databricks']}"
623774,Data Scientist,ML Engineer/Data Scientist,Canada,via Ladders,Full-time,False,Canada,2023-12-24 12:20:13,False,Canada,year,80811.0,Zurich Insurance Group,"['python', 'java', 'c++', 'azure', 'aws', 'ten...","{'cloud': ['azure', 'aws'], 'libraries': ['ten..."
529253,Cloud Engineer,"Lead Engineer, Test Infrastructure",Anywhere,via Levels.fyi,Full-time,True,Canada,2023-12-26 19:20:44,True,Canada,year,204000.0,MongoDB,"['mongodb', 'mongodb', 'python', 'c++', 'java'...","{'databases': ['mongodb'], 'programming': ['mo..."
752333,Data Scientist,"Data Developer, Scotiabank",Canada,via Ai-Jobs.net,Full-time,False,Canada,2023-12-29 20:11:09,False,Canada,year,86204.5,Scotiabank,"['sql', 't-sql', 'crystal', 'c#', 'python', 's...","{'analyst_tools': ['ssis', 'power bi', 'ssrs',..."

In [ ]:
canada_list.groupby('job_title_short')['salary_year_avg'].agg(['min', 'max','median','count']).sort_values(by='median', ascending= False)

                               min       max    median  count
job_title_short
Machine Learning Engineer  63000.0  325000.0  149653.0     53
Cloud Engineer             90000.0  204000.0  130000.0      7
Senior Data Scientist      54907.0  231000.0  130000.0     28
Senior Data Engineer       64800.0  200000.0  125000.0     60
Software Engineer          63000.0  225000.0  125000.0     46
Data Scientist             63000.0  350000.0  122500.0     55
Senior Data Analyst        67500.0  175000.0  111175.0      7
Data Engineer              60000.0  375000.0  105000.0    167
Data Analyst               49566.5  160000.0   98500.0     31
Business Analyst           60000.0  190000.0   85000.0      9